.section {
    margin-bottom: 80px;
    margin-top:80px;

    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        color: $main-color;

    }

    a {
        text-decoration: none;
    }
}
