.inner-wrapper__testimonials {
    background-image: linear-gradient(
      45deg,
      rgba(225, 230, 233, 0.925),
      rgba(232, 231, 238, 0.842),
    ),
    url("../../image/backgound-textimonials.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 3%;
}

blockquote {
  position: relative;
  width: 95%;
  font-style: italic;
  line-height: 150%;
  color: black;
  font-size: 140%;
  margin-top: 20%;
  padding-left:10%;
  padding-bottom: 10%;
  cite {
    display: block;
    color: $main-color;
    margin-top: 20px;

    img {
      height: 50px;
      border-radius: 50%;
      border: 3px solid #265077;
      vertical-align: middle;
      margin-right: 5px;
    }

  }
}
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 400%;
  position: absolute;
  top: 0;

}
